<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./icons8-frontend-cloud-apple.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./icons8-frontend-cloud-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./icons8-frontend-cloud-16.png"
    />

    <link rel="stylesheet" href="style.css" />
    <title>Front-end Developer</title>
    <meta name="description " content="Front-end Vue.js 3 developer Ukraine" />
    <meta
      name="keywords"
      content="front-end vue.js 3 developer ukraine, веб розробник україна, розробник сайтів, розробити сайт, створити сайт, разработчик сайтов украина, разработать сайт"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JKK84C75H9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JKK84C75H9");
    </script>
  </head>
  <body>
    <header>
      <img src="photo.jpg" alt="my photo" />
      <h1>maksym matsydulskas</h1>
      <div>
        <p>front-end developer</p>
        <p>dnipro, ukraine</p>
        <a href="tel:+380669723993">+380669723993</a>
        <a href="./Resume.docx" download>
          <i class="fas fa-download"></i> Download resume</a
        >
      </div>
    </header>
    <aside>
      <div class="details">
        <h2>details</h2>
        <p>Dnipro, Ukraine</p>
        <address>
          <a href="mailto:slipmaks@gmail.com" title="Send mail">
            <i class="fas fa-envelope"></i> slipmaks@gmail.com
          </a>
        </address>
        <h4>Date of birth</h4>
        <p>09.09.1994</p>
      </div>
      <div class="links">
        <h2>links</h2>
        <div>
          <a
            href="https://github.com/Slipmaks"
            title="Open GitHub profile"
            target="_blank"
            ><i class="fab fa-github"></i> github
          </a>
        </div>

        <div>
          <a
            href="https://t.me/+380669723993"
            target="_blank"
            title="Open Telegram chat"
            ><i class="fab fa-telegram-plane"></i> Telegram
          </a>
        </div>
        <div>
          <a
            href="viber://chat?number=+380669723993"
            target="_blank"
            title="Open Viber chat"
          >
            <i class="fab fa-viber"></i> Viber
          </a>
        </div>
      </div>
      <div class="skills">
        <h2>Skills</h2>
        <div>
          <p>HTML5</p>
          <progress max="100" value="95"></progress>
        </div>
        <div>
          <p>CSS3 / Sass / TailwindCSS / Vuetify3</p>
          <progress max="100" value="90"></progress>
        </div>
        <div>
          <p>JavaScript / TypeScript</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>Vue.js 3 / Nuxt.js 3</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>GIT</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>Windows / Linux</p>
          <progress max="100" value="90"></progress>
        </div>
        <div>
          <p>Figma / Photoshop</p>
          <progress max="100" value="65"></progress>
        </div>
      </div>

      <div class="languages">
        <h2>Languages</h2>
        <div>
          <p>English</p>
          <progress max="100" value="35"></progress>
        </div>
        <div>
          <p>Ukrainian</p>
          <progress max="100" value="100"></progress>
        </div>
        <div>
          <p>Russian</p>
          <progress max="100" value="100"></progress>
        </div>
      </div>
      <div class="hobbies">
        <h2>Hobbies</h2>
        <p>Writing code, Technology, Sport, Music/Playing guitar</p>
      </div>
    </aside>
    <main>
      <div>
        <h2>Profile</h2>
        <p>
          Hi there! I'm Maksym and i multi-skilled, self-motivated Front-end
          Developer with 2.5+ years enterprice development expirience.
        </p>
        <p>
          I'm one of two front-end developers who made OneVOIPlanet admin
          cabinet, and i created by myself site for University Custom and
          Finance of Ukraine.
        </p>
        <p>
          My main technology stack ( but it's increase through time, i'm trying
          learn and use modern fresh technologys ) is Vue.js 3, JavaScript /
          TypeScript, Nuxt 3, Vite, Vuetify 3, Tailwind, Axios, HTML, CSS, SASS,
          Git and i use principles DRY, KISS, SOLID, etc.
        </p>
        <p>
          Passionate about making new and interesting products and always
          striving to improve.
        </p>
        <p>
          Ability to handle complex tasks by oneself, easy adaptation to any
          team, stress resistance.
        </p>
      </div>
      <div class="employment">
        <h2>Employment History</h2>
        <div>
          <h4>Middle Front-end Developer (Onepointcollab / OneVOIPlanet )</h4>
          <p>September 2023 - Present</p>
          <ul>
            <li>
              Actively participated in the development of product, implemented
              new technologies into the project
            </li>
            <li>
              Making features like custom admin panels for creating a widgets,
              custome tables/modals/etc
            </li>
            <li>
              Implemented the translation on other languages of the entire
              project, firebase cloud messaging , migrate project to new version
              of Vue and Vite 5
            </li>
            <li>
              A lot of code refactoring and bug fix, help other fellows to
              improve his programming skills
            </li>
            <li>
              Main technology stack: TypeScript, Vue 3, Lodash, Firebace,
              Vuetify, Axios, Vuelidate, Vueuse, Chart.js, Pinia, Vue-i18n,
              Vue-router
            </li>
          </ul>
        </div>
        <div>
          <h4>Middle Front-end Developer (Invest CRM project, B2B)</h4>
          <p>April 2023 - August 2023</p>
          <ul>
            <li>
              Making Invest CRM for company, based on Directus API and Directus
              ecosystem, using Vue.js 3, TypeScript, OpenAI Api, Apex Charts,
              Vue I18n, Vue Router, Pinia, Telegraf.js
            </li>
            <li>
              Created a ChatGPT assistant for business chats, Telegram bot,
              develop a charts for analyzing and structuring data
            </li>
            <li>Debug and troubleshoot issues</li>
          </ul>
        </div>
        <div>
          <h4>
            Front-end Developer at Visit Everywhere (Part-time employment)
          </h4>
          <p>November 2022 - January 2023</p>
          <ul>
            <li>
              Work on creating and developing responsive and user-friendly web
              pages and mobile applications using Vue.js 3, Nuxt.js 3, Vuetify
              3, Axios and Sass
            </li>
            <li>
              Collaborate with designers to ensure proper implementation of
              designs into code
            </li>
            <li>Debug and troubleshoot issues that arise on the site</li>
          </ul>
        </div>
        <div>
          <h4>Web developer at University of Customs and Finance, Dnipro</h4>
          <p>January 2021 - Present</p>
          <ul>
            <li>
              Created and maintained a website for the university using Joomla
              and the Helix framework
            </li>
            <li>
              Developed custom features and edited and created new CSS to
              enhance the website's functionality and appearance
            </li>
            <li>
              Assisted with website administration and troubleshooting issues
              that arose
            </li>
          </ul>
        </div>
        <div>
          <h4>
            System administrator, Programmer engineer at University of Customs
            and Finance, Dnipro
          </h4>
          <p>September 2017 - January 2021</p>
          <ul>
            <li>
              Conducted network administration and provided advice for
              inexperienced PC users
            </li>
            <li>
              Completed various programming assignments, such as automating data
              processing and generating reports
            </li>
            <li>
              Installed and maintained hardware and software on university
              systems
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h2>Education</h2>
        <h4>
          Master's Degree in Computer Science, University of Customs and
          Finance, Dnipro
        </h4>
        <p>September 2012 - 2017</p>
      </div>
      <div v-scope @vue:mounted="counter" class="portfolio">
        <h2>My portfolio</h2>
        <ul>
          <li v-for="proj in projects" :key="proj.title">
            <a :href="proj.href" target="_blank">{{proj.title}}</a>
          </li>
          <li>
            <a href="https://github.com/Slipmaks/HomeWork" target="_blank"
              >Vue ToDo In process<span id="inProcess" v-for="dot in dots"
                >{{ dot }}</span
              ></a
            >
          </li>
        </ul>
      </div>
    </main>
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";

      createApp({
        projects: [
          {
            id: 1,
            title: "Admin cabinet oneVOIPlanet",
            href: "https://cabinet.onevoiplanet.ua/auth?redirect=/",
          },
          {
            id: 2,
            title: "Site University Custom and Finance of Ukraine",
            href: "https://vue-jsdelivr-api.netlify.app/",
          },
          {
            id: 3,
            title: "Pet project - Vue jsDelivr API (Vuex 4, Vuetify 3-beta)",
            href: "https://vue-jsdelivr-api.netlify.app/",
          },
          {
            id: 4,
            title: "Pet project - Weather app modal (Pinia, TailwindCSS, Vite)",
            href: "https://slipmaks-weather-app.netlify.app/",
          },
          {
            id: 5,
            title: 'Template "Halloween"',
            href: "https://slipmaks.github.io/halloween-template/",
          },
          {
            id: 6,
            title: 'Template "Construct"',
            href: "https://slipmaks.github.io/KonstructTemplateHomeWork/",
          },
          {
            id: 7,
            title: 'Template "My company"',
            href: "https://slipmaks.github.io/HomeWorkTemplateMyCompany/",
          },
          {
            id: 8,
            title: 'Template "Lamp"',
            href: "https://slipmaks.github.io/HomeWorkLampHTML/",
          },
          {
            id: 9,
            title: 'Template "SpaceX"',
            href: "https://slipmaks-workflow-spacex-template.netlify.app",
          },
          {
            id: 10,
            title: "JavaScript ToDo",
            href: "https://slipmaks.github.io/todoList_pureJS/",
          },
        ],
        dots: [],
        counter() {
          setInterval(() => {
            this.dots.push(".");
            if (this.dots.length >= 4) {
              this.dots = ["."];
            }
          }, 600);
        },
      }).mount();
    </script>
  </body>
</html>
