<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
    <title>Resume</title>
  </head>
  <body>
    <header>
      <img src="photo.jpg" alt="my photo" />
      <h1>maksym matsydulskas</h1>
      <div>
        <p>front-end developer</p>
        <p>dnipro, ukraine</p>
        <a href="tel:+380669723993">+380669723993</a>
        <a href="./Resume.docx" download>
          <i class="fas fa-download"></i> Download resume</a
        >
      </div>
    </header>
    <aside>
      <div class="details">
        <h2>details</h2>
        <p>Dnipro, Ukraine</p>
        <a href="tel:+380669723993">+380669723993</a>
        <address>
          <i class="fas fa-envelope"></i>
          <a href="mailto:slipmaks@gmail.com" title="Send mail"
            >slipmaks@gmail.com</a
          >
        </address>
        <h4>Date of birth</h4>
        <p>09.09.1994</p>
      </div>
      <div class="links">
        <h2>links</h2>
        <i class="fab fa-github"></i>
        <a
          href="https://github.com/Slipmaks"
          title="Open GitHub profile"
          target="_blank"
          >github</a
        >
      </div>
      <div class="skills">
        <h2>Skills</h2>
        <div>
          <p>HTML5</p>
          <progress max="100" value="95"></progress>
        </div>
        <div>
          <p>CSS3</p>
          <progress max="100" value="90"></progress>
        </div>
        <div>
          <p>GIT</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>JavaScript</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>Vue3</p>
          <progress max="100" value="80"></progress>
        </div>
        <div>
          <p>Linux</p>
          <progress max="100" value="50"></progress>
        </div>
        <div>
          <p>Figma</p>
          <progress max="100" value="65"></progress>
        </div>
      </div>

      <div class="languages">
        <h2>Languages</h2>
        <div>
          <p>English</p>
          <progress max="100" value="35"></progress>
        </div>
        <div>
          <p>Ukrainian</p>
          <progress max="100" value="100"></progress>
        </div>
        <div>
          <p>Russian</p>
          <progress max="100" value="100"></progress>
        </div>
      </div>
      <div class="hobbies">
        <h2>Hobbies</h2>
        <p>Writing code, Technology, Sport, Music/Playing guitar</p>
      </div>
    </aside>
    <main>
      <div>
        <h2>Profile</h2>
        <p>
          Multi-skilled, self-motivated. I want to make fresh and interesting
          products. All-time in process of improving myself.
        </p>
      </div>
      <div>
        <h2>Employment History</h2>
        <div>
          <h4>
            System administrator, Programmer engineer at University of Customs
            and Finance, Dnipro
          </h4>
          <p>September 2017 - January 2021</p>
          <p>
            Network administering, advice for inexperienced PC users, execution
            of various assignments
          </p>
        </div>
        <div>
          <h4>Web developer at University of Customs and Finance, Dnipro</h4>
          <p>January 2021 - Present</p>
          <p>
            Creating and administering site in Joomla using Helix framework,
            make custom features, editing and creating new CSS
          </p>
        </div>
      </div>
      <div>
        <h2>Education</h2>
        <h4>Master, University of customs and finance</h4>
        <p>Spetember 2012 - 2017</p>
        <p>Computer science</p>
      </div>
      <div v-scope @vue:mounted="counter">
        <h2>My portfolio</h2>
        <ul>
          <li v-for="proj in projects" :key="proj.title">
            <a :href="proj.href" target="_blank">{{proj.title}}</a>
          </li>
          <li>
            <a href="https://github.com/Slipmaks/HomeWork" target="_blank"
              >Vue ToDo In process<span id="inProcess" v-for="dot in dots"
                >{{ dot }}</span
              ></a
            >
          </li>
        </ul>
      </div>
    </main>
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";

      createApp({
        projects: [
          {
            id: 1,
            title: "Pet project - Vue jsDelivr API (Vuex4, Vuetify3-beta)",
            href: "https://vue-jsdelivr-api.netlify.app/",
          },
          {
            id: 2,
            title: 'Temlpate "Halloween"',
            href: "https://slipmaks.github.io/halloween-template/",
          },
          {
            id: 3,
            title: 'Template "Construct"',
            href: "https://slipmaks.github.io/KonstructTemplateHomeWork/",
          },
          {
            id: 4,
            title: 'Temlpate "SpaceX"',
            href: "https://slipmaks-workflow-spacex-template.netlify.app",
          },
          {
            id: 5,
            title: 'Temlpate "My company"',
            href: "https://slipmaks.github.io/HomeWorkTemplateMyCompany/",
          },
          {
            id: 6,
            title: 'Template "Lamp"',
            href: "https://slipmaks.github.io/HomeWorkLampHTML/",
          },
          {
            id: 7,
            title: "JavaScript ToDo",
            href: "https://slipmaks.github.io/todoList_pureJS/",
          },
        ],
        dots: [],
        counter() {
          setInterval(() => {
            this.dots.push(".");
            if (this.dots.length >= 4) {
              this.dots = ["."];
            }
          }, 500);
        },
      }).mount();
    </script>
  </body>
</html>
